header{
    background-color: red;
    padding: 30px;
    margin: 10px;
    color: white;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: large;

}
h2{
    background-color: green;
    padding: 10px;
    margin: 10px;

}
p{
    color: blue;
    margin: 10px;
    
}
ul{
    
    padding: 10px;
    border: 8px solid wheat;
    margin: 10px;
}


h3{
    margin: 10px;
    background-color: chocolate;
    text-align: center;

}
.D{
    
    border: 1px solid blue;
    padding: 20px;
    margin-bottom: 10px;
}

    
